html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #25282A;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  max-width: 60rem;
  border: 1em solid #2563EB;
}

.slider {
  display: flex;
  overflow: hidden;
}

.slider-img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
  position: relative;
}

.image-text-slider-block {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.image-text-slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 400%;
  gap: 1rem;
}

.image-text-item {
  color: #ffffff;
  font-size: 2.2rem;
  width: 100%;
  flex: 1 0 100%;
}

.slider-controls {
  display: flex;
  gap: 1em;
}

.slider-control {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #2563EB;
  border: 0.1em solid #2563EB;
  transition: background-color 0.3s, border-color 0.3s;
}

.slider-control:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}

.slider-control.active:hover {
  border-color: #2563EB;
  border-color: #ffffff;
}

input {
  display: none;
}

.slider-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 400%;
}


#slide-1:checked~.slider .slider-track,
#slide-1:checked~.footer .image-text-slider-block .image-text-slider {
  transform: translateX(0%);
}

#slide-2:checked~.slider .slider-track,
#slide-2:checked~.footer .image-text-slider-block .image-text-slider {
  transform: translateX(-100%);
}

#slide-3:checked~.slider .slider-track,
#slide-3:checked~.footer .image-text-slider-block .image-text-slider {
  transform: translateX(-200%);
}

#slide-4:checked~.slider .slider-track,
#slide-4:checked~.footer .image-text-slider-block .image-text-slider {
  transform: translateX(-300%);
}

#slide-1:checked~.footer .slider-controls #control-1,
#slide-2:checked~.footer .slider-controls #control-2,
#slide-3:checked~.footer .slider-controls #control-3,
#slide-4:checked~.footer .slider-controls #control-4 {
  background-color: transparent;
}